############################
# Python
############################

venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# FastAPI / Uvicorn
############################

*.log

############################
# Node / Vue
############################

node_modules/
dist/
build/

############################
# Vite
############################

.vite/
vite.svg

############################
# macOS
############################

.DS_Store

############################
# IDE
############################

.vscode/
.idea/

############################
# Misc
############################

*.swp
*.tmp